/*
	General styles
 */

/* Color */
.green {
	color: #008000 !important;
}
.red {
	color: #ff0000 !important;
}

/* Width */
.w16px {
	width: 16px;
}
.w20px {
	width: 20px;
}
.w25px {
	width: 25px;
}
.w30px {
	width: 30px;
}
.w40px {
	width: 40px;
}
.w70px {
	width: 70px;
}

/* Align */
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}

/* Display */
.inline {
	display: inline;
}

/* Font Size */
#wrapper .font-size-20pt {font-size: 20pt;}

/* Font Weight */
.bold {font-weight: bold;}

/* Margin */
.margin-top-10px {margin-top: 10px;}
.margin-top-20px {margin-top: 20px;}
.margin-bottom-10px {margin-bottom: 10px;}
.margin-bottom-20px {margin-bottom: 20px;}

/* Text Transform */
.lowercase {text-transform: lowercase;}

/*
	Custom styles
 */

/*
	Loader
*/
.loader {
	position: fixed;
	bottom: 0;
	right: 0;
}

/*
	Menu
 */
.menu .ui-menu {
	padding: 0;
}

/*
    Growl (Notifications)
*/
div.ui-growl {
    width: 30%;
}

.ui-growl .ui-growl-message {
    width: 85%;
}

body {
    margin-top: 0;
}

.fa-small {
    font-size: 75%;
    padding: 2px;
}

.connected span {
    color: green;
    font-weight: bold;
}

.disconnected span {
    color: red;
    font-weight: bold;
}

.options {
    width:32px;
    text-align: center;
}

.groupOptions {
    width: 15%;
    text-align: center;
}

.ui-panel-collapsed-h {
    position: absolute;
    z-index: 5000;
}

.studentDetail {
    max-height: 90%;
}

.groupStudentsDialog {
    width: 90%;
    height: 90%;
}

.v-align-top .ui-panelgrid-cell {
    vertical-align: top;
}

.noBorder {
    border: none;
}

.noBorder > .ui-datatable {
    margin-top: 0;
    margin-bottom: 5%;
}

.noBorder .ui-widget-content {
    border: none;
}

.noBorder .ui-widget-content .ui-panelgrid-cell {
    border: none;
    padding-left: 0;
}


.lessonButtons {
    margin-left: 5%;
}

/*.visitInfo,*/
/*.visitInfo .ui-panel,*/
/*.visitInfo .ui-panel-content,*/
/*.visitInfo .ui-panel-content .ui-widget-content,*/
/*.visitInfo div.ui-panel-content{*/
    /*padding-left: 0px;*/
/*}*/


/* Edit form */
.edit-form .edit-panel .value > div,
.edit-form .edit-panel .value input,
.edit-form .edit-panel .value textarea {
    width: 100%
}
.edit-form .edit-panel .value {
    padding-right: 3rem;
}

/*Lesson Form */
.lesson-info {
    width: 100%;
}

.lesson-info td {
    vertical-align: top;
}

.lesson-info label {
	display: block;
}

.lesson-info .visit-info .visit-label {
    font-size: 30pt;
    text-transform: uppercase;
    font-weight: bold;
}

.lesson-info .visit-info label {
	margin-left: 2rem;
}

.lesson-info .visit-info div,
.lesson-info .visit-info td,
.lesson-info .visit-info table {
	padding: 0;
}

.lesson-info .lesson-text {
	font-size: 20pt;
}

.visit-info td {
    vertical-align: middle;
}

/*
	transparent icon button
 */
.lesson-tables .transparent-button th,
.lesson-tables .transparent-button td{
	padding-left: 0;
}

.lesson-tables .transparent-button button{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
	width: 20px;
}

.lesson-tables .transparent-button .ui-button-text {
    padding: 0;
}

.lesson-tables .transparent-button .ui-icon{
	width: 15px;
}

/*
	lesson-tables
 */
.lesson-tables .ui-datatable thead th,
.lesson-tables .ui-datatable tbody td,
.lesson-tables .ui-datatable tfoot td,
.lesson-tables .ui-datatable tfoot th {
    border-width: 0;
	padding: 2px 5px;
}

.lesson-tables .ui-column-filter.ui-inputfield {
	width: 40%;
	display: inline;
}

.lesson-tables .ui-datatable-odd {
	background: none repeat scroll 0 0 #dddddd;
}

/*
	Image
 */
.lesson-info .visit-info .image,
.studentDetail .image {
	width: 200px;
	height: 267px;
	display: block;
	padding: 0;
	text-align: center;
	border: 2px solid;
}

.studentDetail .image td {
	width: 300px;
}

.lesson-info .visit-info .image div,
.studentDetail .image div {
	padding: 0;
}

.image img {
	max-width: 200px;
	height: auto;
}