/*
body {
    margin: 0;
}
*/

.alignMenuItems > ul {
    margin-top: 10px;
}

.fa-small {
    font-size: 75%;
    padding: 2px;
}

.connected span {
    color: green;
    font-weight: bold;
}

.disconnected span {
    color: red;
    font-weight: bold;
}

.options {
    width:32px;
    text-align: center;
}

.groupOptions {
    width: 15%;
    text-align: center;
}

.menu {
    /*margin-bottom: 25px;*/
}

.menu .ui-panel .ui-panel-content {
    padding: 0;
    border: none;
}

.ui-panel-collapsed-h {
    position: absolute;
    z-index: 5000;
}

.studentDetail {
    max-height: 90%;
}

.groupStudentsDialog {
    width: 90%;
    height: 90%;
}

.v-align-top .ui-panelgrid-cell {
    vertical-align: top;
}

.noBorder {
    border: none;
}

.noBorder > .ui-datatable {
    margin-top: 0;
    margin-bottom: 5%;
}

.noBorder .ui-widget-content {
    border: none;
}

.noBorder .ui-widget-content .ui-panelgrid-cell {
    border: none;
    padding-left: 0;
}

.lessonStudents .ui-datatable {
    margin: 0;
}

.lessonButtons {
    margin-left: 5%;
}

/*.visitInfo,*/
/*.visitInfo .ui-panel,*/
/*.visitInfo .ui-panel-content,*/
/*.visitInfo .ui-panel-content .ui-widget-content,*/
/*.visitInfo div.ui-panel-content{*/
    /*padding-left: 0px;*/
/*}*/

/* Sorry for that. I will fix it, I promise! :( */
.lessonStudents {
    padding: 0 !important;
}

.lessonStudents > .ui-panel-content {
    padding: 0 !important;
}

/* Color */
.green {
    color: #008000 !important;
}

.red {
    color: #ff0000 !important;
}

/* Edit form */
.edit-form .edit-panel .value > div,
.edit-form .edit-panel .value input,
.edit-form .edit-panel .value textarea {
    width: 100%
}
.edit-form .edit-panel .value {
    padding-right: 3rem;
}

/*Lesson Form */
.lesson-info {
    width: 100%;
}

.lesson-info td {
    vertical-align: top;
}

.lesson-info .visit-info {
    font-size: 30pt;
    text-transform: uppercase;
    font-weight: bold;
}

.lessonStudents .transparent-button button{
    background-color: rgba(0, 0, 0, 0);
    border: 0
}

.lessonStudents .transparent-button .ui-button-text {
    padding: 0;
}

.lesson-tables .ui-datatable thead th,
.lesson-tables .ui-datatable tbody td,
.lesson-tables .ui-datatable tfoot td,
.lesson-tables .ui-datatable tfoot th {
    border-width: 0;
}
