<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">com.grsu.reader.utils.db.SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<mapping class="com.grsu.reader.entities.Class"/>
		<mapping class="com.grsu.reader.entities.Department"/>
		<mapping class="com.grsu.reader.entities.Discipline"/>
		<mapping class="com.grsu.reader.entities.Group"/>
		<mapping class="com.grsu.reader.entities.GroupType"/>
		<mapping class="com.grsu.reader.entities.Lesson"/>
		<mapping class="com.grsu.reader.entities.Schedule"/>
		<mapping class="com.grsu.reader.entities.ScheduleVersion"/>
		<mapping class="com.grsu.reader.entities.Stream"/>
		<mapping class="com.grsu.reader.entities.Student"/>
		<mapping class="com.grsu.reader.entities.StudentClass"/>
		<mapping class="com.grsu.reader.entities.Note"/>
		<!-- <property name="connection.username"/> -->
		<!-- <property name="connection.password"/> -->

		<!-- DB schema will be updated if needed -->
		<!-- <property name="hbm2ddl.auto">update</property> -->
	</session-factory>
</hibernate-configuration>